body {
  width: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}
.Pokemon {
  padding: 1rem;
  width: 280px;
}
.Border {
  border: 0.5rem solid lightblue;
  border-radius: 0.5rem;
}
.MainTitle {
  font-size: 4rem;
  font-weight: 500;
}
.Title {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
.PokeId {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.Avatar {
  height: 8rem;
  width: auto;
}
.Type {
  font-weight: 500;
  font-size: 1.3rem;
}
